.loader {
    position: fixed;
    inset: 0;
    z-index: 999999;
    overflow: hidden;
    background: #ffffff;
    transition: all 0.6s ease-out;
}

.loader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #ffffff;
    border-color: #2487ce transparent #2487ce transparent;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: loading 1.0s linear infinite;
  }

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 6px solid #ffffff;
    border-color: #2487ce transparent #2487ce transparent;
    border-radius: 50%;
    animation: loading 1.0s linear infinite;
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}
